/*
    Footer Style
*/
.foo-cont {
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 10px;
  border-radius: 50px;
  transform: translate(-50%, -100%);
  background-color: rgba(150, 150, 150, 0.2);
  backdrop-filter: blur(10px);
  /* overflow: hidden; */
}

/*
    Footer Navigation Style
*/
.foo-nav {
    display: grid;
    /* position: relative; */
    grid-auto-flow: column;
    column-gap: 10px;
}

.foo-nav::before {
    content: "";
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    width: 90%;
    height: 1px;
}

/*
    Footer Navigation Items Style
*/
.foo-nav-i {
    display: grid;
    place-items: center;
    row-gap: 5px;
    min-width: 100px;
    user-select: none;
}

/* > ToolTip */
.foo-nav-i::before {
    content: attr(tooltip);
    position: absolute;
    width: max-content;
    padding: 5px 10px;
    top: -20px;
    opacity: 0;
    font-size: 10pt;
    letter-spacing: 1px;
    border-radius: 5px;
    color: var(--light-text-color);
    background-color: rgb(60, 130, 209);
    transition: top 500ms 200ms var(--def-cubic), opacity 500ms 200ms var(--def-cubic);
    pointer-events: none;
}

.foo-nav-i span {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.foo-nav-i span::before {
    content: "";
    position: absolute;
    top: 50px;
    background-color: var(--hover-theme-icon-bg-light);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: top 400ms var(--def-cubic), background-color 250ms var(--def-cubic);
    pointer-events: none;
    z-index: -1;
}

.foo-nav-i span svg {
    width: 30px;
    height: 30px;
    fill: var(--light-theme-icon);
    transition: fill 250ms 100ms var(--def-cubic);
}