/*
    Footer Style
*/
.foo-cont {
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 15px 10px;
  border-radius: 50px;
  transform: translate(-50%, -100%);
  background-color: rgba(150, 150, 150, 0.2);
  backdrop-filter: blur(10px);
  /* overflow: hidden; */
}

/*
    Footer Navigation Style
*/
.foo-nav {
    display: grid;
    /* position: relative; */
    grid-auto-flow: column;
    column-gap: 10px;
}

.foo-nav::before {
    content: "";
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    width: 90%;
    height: 1px;
}

/*
    Footer Navigation Items Style
*/
.foo-nav-i {
    all: unset;
    display: grid;
    place-items: center;
    row-gap: 5px;
    min-width: 100px;
    cursor: pointer;
    user-select: none;
}

.foo-nav-i span {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 0;
    transition: top 500ms var(--def-cubic);
}

.foo-nav-i span::before {
    content: "";
    position: absolute;
    top: 50px;
    background-color: var(--hover-theme-icon-bg-light);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    pointer-events: none;
    transition: top 400ms var(--def-cubic), background-color 250ms var(--def-cubic);
    z-index: -1;
}

.foo-nav-i span svg {
    width: 30px;
    height: 30px;
    fill: var(--light-theme-icon);
    transition: fill 250ms 100ms var(--def-cubic);
}

.foo-nav-i strong {
    position: absolute;
    font-family: "JetBrains Mono";
    font-weight: normal;
    font-size: 0.98rem;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}
