.loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: var(--light-theme);
    row-gap: 10px;
}

.loader-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 50px;
    column-gap: 20px;
}

.loader-icon-block {
    width: 25px;
    height: 25px;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 5px;
    rotate: 0deg;
    scale: 0;
    animation: loader-ani 1.5s 0.5s ease-in-out infinite;
}

.loader-icon-block:nth-child(2) {
    animation-delay: calc(2s / 2);
}

.loader-context {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 20px;
    overflow: hidden;
}

.loader-context::before {
    content: "Loading Application Contents...";
    position: absolute;
    width: max-content;
    top: 20px;
    opacity: 0;
    animation: text-slide-up 0.5s var(--def-cubic) forwards;
}

.loader-subContext {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.loader-subContext::before {
    content: "Please wait.";
    font-size: 10pt;
    top: 20px;
    opacity: 0;
    animation: text-slide-up 0.5s 1s var(--def-cubic) forwards;
}
