.page-not-found {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--light-theme);
}

.page-not-found-contents {
    display: grid;
    grid-template-areas:
        "icon title"
        "icon context"
        "icon action";
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
}

.page-not-found-contents span {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.page-not-found-contents span svg {
    width: 75px;
    height: 75px;
    fill: indianred;
}

.page-not-found-contents h2 {
    grid-area: title;
    position: relative;
    padding-top: 10px;
    color: tomato;
    padding-block: 10px;
}

.page-not-found-contents h2::before {
    content: "404 - Page Not Found!";
    position: absolute;
    width: max-content;
    height: max-content;
    color: transparent;
    border-bottom: 1px solid gray;
    padding-inline: 5px;
}

.page-not-found-contents p {
    grid-area: context;
    font-size: 11pt;
    padding-right: 10px;
    padding-bottom: 10px;
    color: rgb(75, 75, 75);
}

.page-not-found-contents span:last-child {
    grid-area: action;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
    padding-bottom: 10px;
}

.page-not-found-action {
    all: unset;
    font-size: 10pt;
    padding-inline: 10px;
    color: rgb(214, 55, 27);
    text-decoration: underline;
    text-underline-offset: 5px;
}
