/*
    Footer > Navigation > Item
*/
.foo-nav-i.active span {
    top: -30px;
    z-index: 1;
}

.foo-nav-i.active span::before {
    top: -7px;
    background-color: var(--active-theme-icon-bg-light);
}

.foo-nav-i.active span svg {
    fill: var(--active-theme-icon-light);
}

.foo-nav-i.active strong {
    font-weight: 600;
    opacity: 1;
}

/*
    Page Not Found > Action
*/
.page-not-found-action:active {
    scale: 0.95;
    text-decoration: none;
    color: rgb(170, 170, 170);
}
