/*
    Footer > Navigation > Item
*/
.foo-nav-i:not(.active):hover strong {
    opacity: 1;
}

.foo-nav-i:not(.active):hover span {
    top: -30px;
    z-index: 1;
}

.foo-nav-i:hover span::before {
    top: -7px;
}

.foo-nav-i:hover span svg {
    transition: fill 250ms 100ms var(--def-cubic);
    fill: var(--active-theme-icon-light);
}

/*
    Page Not Found > Action
*/
.page-not-found-action:hover {
    text-decoration: none;
    color: tomato;
    cursor: pointer;
}
