/*
  CSS Root Variables.
  THEME COLORS, TEXT COLORS, ETC.  
*/
:root {
  /* Background Theme Colors */
  --light-theme: linear-gradient(
    0deg,
    rgb(150, 150, 150) 0%,
    rgb(200, 200, 200) 50%,
    rgb(230, 230, 230) 100%
  );
  --dark-theme: linear-gradient(
    0deg,
    rgb(50, 50, 50) 0%,
    rgb(51, 51, 71) 50%,
    rgb(55, 55, 88) 100%
  );

  /* Text Colors */
  --light-text-color: rgb(250, 250, 250);
  --light-dim-text-color: rgb(200, 200, 200);
  --dark-text-color: rgb(25, 25, 25);
  --dark-dim-text-color: rgb(75, 75, 75);

  /* Icon Colors */
  --light-theme-icon: rgb(0, 0, 0);
  --dark-theme-icon: rgb(200, 200, 200);

  /* Icon Active State Colors */
  --active-theme-icon-bg-light: rgb(57, 95, 151);
  --active-theme-icon-bg-dark: rgb(200, 200, 200);
  --active-theme-icon-light: rgb(220, 220, 220);
  --active-theme-icon-dark: rgb(35, 35, 35);

  /* Icon Hover State Colors */
  --hover-theme-icon-bg-light: rgb(100, 100, 100);

  /* Border Colors */
  --border-gray: 1px solid rgb(150, 150, 150);
  --border-dark: 1px solid rgb(50, 50, 50);
  --border-dim-dark: 1px solid rgb(100, 100, 100);
  --boder-light: 1px solid rgb(225, 225, 225);

  /* Animation Timing */
  --def-cubic: cubic-bezier(0.25, 0, 0, 1);
}
